NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_AWS_REGION=eu-west-1
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=26ie56ka6mseo4qtvi87saf34n
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_n8C3ilK9S

APP_SESSION_SECRET=replace-with-a-long-random-secret
KYCLY_API_BASE_URL=https://api.kycly.sn
DEMO_ACCOUNT_KEY_MAP={"demo_acme":"ck_demo_xxx"}
DEFAULT_KYCLINK_THEME=kycly-light