NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_AWS_REGION=eu-west-1
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=
NEXT_PUBLIC_COGNITO_USER_POOL_ID=

APP_SESSION_SECRET=replace-with-a-long-random-secret
KYCLY_API_BASE_URL=https://api.kycly.sn
KYCLY_ME_BASE_URL=https://me.kycly.sn
DEMO_ACCOUNT_KEY_MAP={"demo_acme":"ck_demo_xxx"}
DEFAULT_KYCLINK_THEME=kycly-light